<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment One</title>
    <link rel="stylesheet" type="text/css" href='/static/core-style.css' />
</head>
<html>
    <body>
        {% include "top_bar.html" %}
        <h3>Upload Key-Image Pair</h3>
        <form
            class="form-outline"
            style="height: 260px"
            method="post"
            onsubmit="return validateForm()"
            enctype=multipart/form-data>

            <label for="key">Insert key:</label><br>
            <input type="text" id="key" name="key" class="type-select">

            <br><br>

            <label for="img_url">Insert image URL or upload a file:</label><br>
            <div>
                <input type="radio" id="url" name="drone" value="url" checked onclick="showURL()">
                <label for="url">Insert URL</label>
              </div>

              <div>
                <input type="radio" id="upload" name="drone" value="upload" onclick="showFile()">
                <label for="upload">Upload File</label>
            </div>

            <div id="wrapper" style="height: 40px";>
                <div id="img_url_wrapper" style=" visibility: visible; height:0px">
                    <input type="text" id="img_url" name="img_url" class="type-select">
                </div>
                <div id="img_file_wrapper" style=" visibility: hidden; height:0px">
                    <input type="file" id="img_file" accept="image/*" name="file" style=" margin-top:10px"/>
                </div>
            </div>

            <input type="submit" id="submit" class="submit-button" value="Submit New Key-Image Pair">

            <div>
                {% if save_status is defined %}
                    {% if save_status == "OK" %}
                        <h4 style="text-align: center; color: green">Image Successfully Added</h4>
                    {% elif save_status == "FAILURE" %}
                        <h4 style="text-align: center; color: rgb(172, 16, 16)">Database Failure - Image Not Added</h4>
                    {% else %}
                        <h4 style="text-align: center; color: rgb(172, 16, 16)">Invalid Image - Image Not Added</h4>
                    {% endif %}
                {% endif %}
            </div>
        </form>

        <script>
            function validateForm() {
                image_exists = document.getElementById("img_url").value !== "" || document.getElementById("img_file").value !== "";
                key_exists = document.getElementById("key").value;
                return image_exists && key_exists;
            }

            function showURL() {
                document.getElementById("img_url_wrapper").style.visibility="visible";
                document.getElementById("img_file_wrapper").style.visibility="hidden";
                document.getElementById("img_file").value = "";
            }

            function showFile() {
                document.getElementById("img_url_wrapper").style.visibility="hidden";
                document.getElementById("img_url").value = "";
                document.getElementById("img_file_wrapper").style.visibility="visible";
            }
        </script>
    <body>
</html>
