<!DOCTYPE html>
<html>
  <head>
    <title>ECE1779 Assignment One</title>
    <link rel="stylesheet" href='/static/core-style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>
  </head>
  <body>
    {% include "top_bar.html" %}
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    <div id="wrapper" style="margin-top: 20px">
      Simple Dynamic Chart
    <div id="main" style="width: 600px;height:500px;"></div>
    </div>
    <script type="text/javascript">
      // Initialize the echarts instance based on the prepared dom
      var myChart = echarts.init(document.getElementById('main'));

      // Specify the configuration items and data for the chart
      var option = {
        color: ['#37A2FF', '#FF0087', '#FFBF00'],
        xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross',
          label: {
            backgroundColor: '#6a7985'
          }
        }
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          data: [820, 932, 901, 934, 1290, 1330, 1320],
          type: 'line',
          areaStyle: {
            opacity: 0.8,
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
              {
                offset: 0,
                color: 'rgb(55, 162, 255)'
              },
              {
                offset: 1,
                color: 'rgb(116, 21, 219)'
              }
            ])
          },
          smooth: true,
          animation: false
        }
      ]
      };

      // Display the chart using the configuration items and data just specified.
      myChart.setOption(option);
    </script>
  </body>
</html>