<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment Two</title>
    <link rel="stylesheet" href='/static/core-style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>
</head>
<html>
    <body>
        {% include "top_bar.html" %}
        <h3>Cache Pool Manager</h3>
        <div class="form-row" style="justify-content:center">
            <div>
                <form 
                    class="form-outline"
                    style="height: 260px; width: 600px"
                    method="post"
                    action="/set_cache_params"
                    >
                    <h4
                    style="text-align: center; font-size: 15px; margin-top: 0px;"
                    >Configure All Caches</h4>
                    <label>Memory Cache Last Configured: <b>{{ update_time }}</b></label><br><br>
                    <label for="capacity">Insert capacity:</label>
                    <input 
                        type="text"
                        id="capacity"
                        name="capacity"
                        value="{{ capacity }}"
                        class="type-select"> (MB, max 500)
                        <br>
                    
                    <label for="replacement_policy" class="label-padding">
                        Select memory cache replacement policy:
                    </label>
                    {% if replacement_policy == "Least Recently Used" %}
                    <div>
                        <input type="radio" id="lru" name="replacement_policy" checked value="Least Recently Used">
                        <label for="lru">Least Recently Used</label>
                    </div>
                    <div>
                        <input type="radio" id="random" name="replacement_policy" value="Random Replacement">
                        <label for="random">Random Replacement</label>
                    </div>
                    {% else %}
                    <div>
                        <input type="radio" id="lru" name="replacement_policy" value="Least Recently Used">
                        <label for="lru">Least Recently Used</label>
                    </div>
                    <div>
                        <input type="radio" id="random" name="replacement_policy" checked value="Random Replacement">
                        <label for="random">Random Replacement</label>
                    </div>
                    {% endif %}
                    {% if status is defined %}
                            {% if status == "FALSE" %}
                                <h4 style="text-align: center; color: green; margin-top: 10px; margin-bottom: 0px">Memcache Re-configured</h4>
                            {% elif status == "TRUE" %}
                                <h4 style="text-align: center; color: rgb(172, 16, 16); margin-top: 10px; margin-bottom: 0px">Invalid Values - Memcache not updated</h4>
                            {% else %}
                                <h4 style="text-align: center; color: green; margin-top: 10px; margin-bottom: 0px">Memcache Cleared</h4>
                            {% endif %}
                
                    {% endif %}

                    <input type="submit" id="submit" style="margin-top: 10px" class="submit-button" value="Refresh Configuration">
                </form>    
                
                <!-- Clearing Data Form -->
                <div class="form-outline"
                style="height: 150px; width: 600px; margin-top: 20px;">
                <h4
                style="text-align: center; font-size: 15px; margin-top: 0px;"
                >Clear Data</h4>
                    <form action="/clear_cache" method="post">
                        <input name="clear_cache" style="visibility: collapse; height: 0px">
                        <div class="form-row">
                            <label for="capacity">Clear Memcache data from all nodes: </label>
                            <input
                                type="submit"
                                id="clear_cache"
                                class="submit-button"
                                style="width: 150px; margin-top: -10px; margin-left: 10px;"
                                value="Clear Cache">
                        </div>
                    </form>
                    <form action="/clear_data" method="post">
                        <br/><br/>
                        <div class="form-row">
                            <label for="capacity">Clear all application data: </label>
                            <input
                                type="submit"
                                id="clear_cache"
                                class="submit-button"
                                style="width: 150px; margin-top: -10px; margin-left: 10px;"
                                value="Clear All Data">
                        </div>
                    </form>
                </div>
            </div>
                <div style="padding-left: 20px;"></div>
                <form 
                class="form-outline"
                style="height: 470px; width: 600px"
                method="post"
                action="/set_pool_size"
                >
                    <div id="memcachePool" style="width: 600px;height:400px;"></div>

                    <input
                        type="submit"
                        id="set_pool_size"
                        class="submit-button"
                        style="width: 150px;"
                        value="Update Pool">
                </form>
            </div>
        
    
    
        <script type="text/javascript">
            // Initialize the echarts instance based on the prepared dom
            var myChart = echarts.init(document.getElementById('memcachePool'));
      
            // Specify the configuration items and data for the chart
            var option = {
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                    name: 'Active Memcache Nodes',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    color: ['#5470c6', '#91cc75', '#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        { value: 1, name: 'Node 1' },
                        { value: 1, name: 'Node 2' },
                        { value: 1, name: 'Node 3' },
                        { value: 1, name: 'Node 4' },
                        { value: 1, name: 'Node 5' },
                        { value: 1, name: 'Node 6' },
                        { value: 1, name: 'Node 7' },
                        { value: 1, name: 'Node 8' }
                    ]
                    }
                ]};
      
            // Display the chart using the configuration items and data just specified.
            myChart.setOption(option);
          </script>
    <body>    
</html>