<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment Two</title>
    <link rel="stylesheet" href='/static/core-style.css' />
</head>
<html>
    <body>
        {% include "top_bar.html" %}
        <h3>Show Image</h3>
        <form class="form-outline" method="post">
            <label for="key">Key:</label><br>
            <input type="text" id="key" name="key" class="type-select">
            <input type="submit" class="submit-button" value="Submit Key">
        </form>
        <br>
        <div>
            {% if filename is defined %}
                {% if exists %}
                    <h4>Image:</h4>
                    <img src= "data:image/png;base64,{{ filename }}" alt={{filename}}  class="image-preview"/>
                {% else %}
                    <h4>THE KEY ENTERED DOES NOT EXIST, PLEASE ENTER VALID KEY</h4>
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>
