<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment Two</title>
    <link rel="stylesheet" href='/static/core-style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>
</head>
<html>
    <body>
        {% include "top_bar.html" %}
        <h3>Cache Pool Manager</h3>
        <div class="form-row" style="justify-content:center">
            <div>
                <form 
                    class="form-outline"
                    style="height: 260px; width: 600px"
                    method="post"
                    action="/set_cache_params"
                    >
                    <h4
                    style="text-align: center; font-size: 15px; margin-top: 0px;"
                    >Configure All Caches</h4>
                    <label>Memory Cache Last Configured: <b>{{ update_time }}</b></label><br><br>
                    <label for="capacity">Insert capacity:</label>
                    <input 
                        type="text"
                        id="capacity"
                        name="capacity"
                        value="{{ capacity }}"
                        class="type-select"> (MB, max 500)
                        <br>
                    
                    <label for="replacement_policy" class="label-padding">
                        Select memory cache replacement policy:
                    </label>
                    {% if replacement_policy == "Least Recently Used" %}
                    <div>
                        <input type="radio" id="lru" name="replacement_policy" checked value="Least Recently Used">
                        <label for="lru">Least Recently Used</label>
                    </div>
                    <div>
                        <input type="radio" id="random" name="replacement_policy" value="Random Replacement">
                        <label for="random">Random Replacement</label>
                    </div>
                    {% else %}
                    <div>
                        <input type="radio" id="lru" name="replacement_policy" value="Least Recently Used">
                        <label for="lru">Least Recently Used</label>
                    </div>
                    <div>
                        <input type="radio" id="random" name="replacement_policy" checked value="Random Replacement">
                        <label for="random">Random Replacement</label>
                    </div>
                    {% endif %}
                    {% if status is defined %}
                            {% if status == "FALSE" %}
                                <h4 style="text-align: center; color: green; margin-top: 10px; margin-bottom: 0px">Memcache Re-configured</h4>
                            {% elif status == "TRUE" %}
                                <h4 style="text-align: center; color: rgb(172, 16, 16); margin-top: 10px; margin-bottom: 0px">Invalid Values - Memcache not updated</h4>
                            {% else %}
                                <h4 style="text-align: center; color: green; margin-top: 10px; margin-bottom: 0px">Memcache Cleared</h4>
                            {% endif %}
                
                    {% endif %}

                    <input type="submit" id="submit" style="margin-top: 10px" class="submit-button" value="Refresh Configuration">
                </form>    
                
                <!-- Clearing Data Form -->
                <div class="form-outline"
                style="height: 150px; width: 600px; margin-top: 20px;">
                <h4
                style="text-align: center; font-size: 15px; margin-top: 0px;"
                >Clear Data</h4>
                    <form action="/clear_cache" method="post">
                        <input name="clear_cache" style="visibility: collapse; height: 0px">
                        <div class="form-row">
                            <label for="capacity">Clear Memcache data from all nodes: </label>
                            <input
                                type="submit"
                                id="clear_cache"
                                class="submit-button"
                                style="width: 150px; margin-top: -10px; margin-left: 10px;"
                                value="Clear Cache">
                        </div>
                    </form>
                    <form action="/clear_data" method="post">
                        <br/><br/>
                        <div class="form-row">
                            <label for="capacity">Clear all application data: </label>
                            <input
                                type="submit"
                                id="clear_cache"
                                class="submit-button"
                                style="width: 150px; margin-top: -10px; margin-left: 10px;"
                                value="Clear All Data">
                        </div>
                    </form>
                </div>
            </div>
                <div style="padding-left: 20px;"></div>
                <form 
                class="form-outline"
                style="height: 470px; width: 600px"
                method="post"
                action="/set_pool_config"
                >
                    <h3>Pool Configuration</h3>

                    <div class="form-row">
                        <div>
                            <h4>Select Memcache Pool Resizing</h4>
                            <div>
                                <input type="radio" id="manual" name="mode" value="Manual Mode" checked onclick="showManual()">
                                <label for="manual">Manual Mode</label>
                            </div>
                            <div>
                                <input type="radio" id="automtic" name="mode" value="Automatic Mode" onclick="showAuto()">
                                <label for="automtic">Automatic Mode</label>
                            </div>
                            {% set item_count = memcache_pool|length %} 
                            <div id="manual_pool" style="display: block;">
                                <h4>Adjust Pool Size</h4>
                                <div class="form-row">
                                    <button
                                        id="increase_button"
                                        class="submit-button"
                                        style="margin: 3px"
                                        type="submit"
                                        name="pool-button"
                                        value="increase"
                                        {% if item_count == 8 %} disabled {% endif %}
                                        >+1</button>
                                    <button
                                        id="decrease_button"
                                        class="submit-button"
                                        style="margin: 3px"
                                        type="submit"
                                        name="pool-button"
                                        value="decrease"
                                        {% if node_data["active"] + node_data["starting"] == 1 %} disabled {% endif %}
                                        >-1</button>
                                </div>
                            </div>

                            <div id="auto_pool" style="display: none; width:220px">
                                <h4>Set Policy</h4>
                                <div class="form-row">
                                    <div class="form-col">
                                        <label for="maxMiss">Max Miss Rate: </label>
                                        <label for="minMiss">Min Miss Rate: </label>
                                        <label for="expRatio">Expansion Ratio: </label>
                                        <label for="shrinkRatio">Shrink Ratio: </label>
                                    </div>
                                    <div class="form-col">
                                        <input 
                                            type="text"
                                            id="maxMiss"
                                            name="maxMiss"
                                            value="{{ maxMiss }}"
                                            class="type-select-mini">
                                        <input 
                                            type="text"
                                            id="minMiss"
                                            name="minMiss"
                                            value="{{ minMiss }}"
                                            class="type-select-mini">
                                        <input 
                                            type="text"
                                            id="expRatio"
                                            name="expRatio"
                                            value="{{ expansionRatio }}"
                                            class="type-select-mini">
                                        <input 
                                            type="text"
                                            id="shrinkRatio"
                                            name="shrinkRatio"
                                            value="{{ shrinkRatio }}"
                                            class="type-select-mini">
                                    </div>
                                </div>
                                <input
                                    type="submit"
                                    id="set_pool_size"
                                    class="submit-button"
                                    style="width: 150px;"
                                    value="Set Configuration">
                            </div>
                        </div>
                        <div style="margin-left: 20px">
                            <h4>Memcache Pool Node Status</h4>
                            Number of Active Nodes: <b>{{ node_data["active"] }}</b><br/>
                            Number of Nodes Starting: <b>{{ node_data["starting"] }} </b><br/>
                            Number of Nodes Shutting Down: <b>{{ node_data["stopping"] }} </b><br/>
                            <div id="memcachePool" style="width: 300px;height:350px;"></div>
                        </div>
                </form>
            </div>
        
    
    
        <script type="text/javascript">
            // Initialize the echarts instance based on the prepared dom
            var myChart = echarts.init(document.getElementById('memcachePool'));
            var memcache_pool = JSON.parse('{{ memcache_pool | tojson | safe}}')
      
            // Specify the configuration items and data for the chart
            var option = {
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                    name: 'Active Memcache Nodes',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    color: ['#5470c6', '#91cc75', '#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    labelLine: {
                        show: false
                    },
                    data: memcache_pool
                    }
                ]};
      
            // Display the chart using the configuration items and data just specified.
            myChart.setOption(option);

            function showManual() {
                document.getElementById("manual_pool").style.display="block";
                document.getElementById("auto_pool").style.display="none";
            }

            function showAuto() {
                document.getElementById("manual_pool").style.display="none";
                document.getElementById("auto_pool").style.display="block";
            }
          </script>
    <body>    
</html>